@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  width: 1200px;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 34px;
  margin-top: 14px;
}

.button-blue,
.product-card-button {
  background-color: #82B3D3;
}

.button-blue:hover,
.product-card-button:hover {
  background-color: #68A2CA;
}

.button-blue:focus,
.product-card-button:focus {
  background-color: #68A2CA;
}

.button-blue:active,
.product-card-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.search-button {
  max-width: 376px;
  margin: 0 auto;
}

.subcsribe-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.catalog-filter-submit-button,
.product-card-button,
.product-card-link {
  font-size: 16px;
  line-height: 20px;
}

.product-card-link.button,
.product-card-button.button {
  padding: 8px 20px;
}

.catalog-filter-reset-button {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
}

.product-card-button.button.product-card-button-current {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.product-card-button.button.product-card-button-current:hover {
  background-color: #6C9E42;
}

.product-card-button.button.product-card-button-current:focus {
  background-color: #6C9E42;
}

.product-card-button.button.product-card-button-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header {
  padding: 0 70px;
  position: relative;
  margin-bottom: -12px;
  z-index: 1;
}

.main-navigation {
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-logo-link {
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 440px;
}

.navigation-item .navigation-link:hover {
  opacity: 0.7;
}

.navigation-item .navigation-link:focus {
  opacity: 0.7;
}

.navigation-item .navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  left: 16px;
  right: 16px;
}

.user-menu-list {
  width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.user-menu-item:last-child {
  margin-left: 20px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
  text-align: left;
}

.user-menu-link {
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
}

.user-menu-list .user-menu-item:first-of-type .user-menu-link {
  background: url('../image/decor-image/search-icon.svg') no-repeat center;
  background-size: 18px 18px;
}

.user-menu-list .user-menu-item:nth-of-type(2) .user-menu-link {
  background: url('../image/decor-image/heart-icon.svg') no-repeat center;
  background-size: 18px 18px;
  position: relative;
}

.user-menu-favorits-number {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  transform-origin: 50% 50%;
  transform: translate(7px, -8px);
  position: absolute;
  color: #ffffff;
  background: #7DB54F 50% 50%;
  border-radius: 50%;
  padding: 5px;
}

/* main */

.main-container {
  flex-grow: 1;
}

.hero {
  background: #82B3D3 url("../image/decor-image/index-background.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: url("../image/decor-image/hero-decor.svg") no-repeat 50% 50%;
  width: 1200px;
  height: 57px;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.big-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.small-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-weight: 400;
}

/* advantages */

.advantages-text {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-text-wrapper {
  padding: 69px 250px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: #82B3D3;
}

.advantages-item-revers {
  flex-direction: row-reverse;
}

.advantages-subtitle {
  margin-top: 0;
}

.advantages-description {
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-list-image {
  width: 800px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.advantages-subtitle::after {
content: "";
position: absolute;
height: 2px;
width: 60px;
bottom: 0;
background-color: rgba(255, 255, 255, 0.3);
left: 50%;
margin-left: -30px;
}

.advantages-description {
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.advantages-detail-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 32px;
}

.advantages-detail-subtitle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: -30px;
}

.advantages-detail-description {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  color: #333333;
  text-align: center;
}

.advantages-detail-list {
  width: 1200px;
  display: flex;
  background-color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-item-text-wrapper {
  width: 230px;
  padding: 102px 85px;
}

.advantages-detail-item {
  width: 250px;
  padding: 102px 80px;
  min-height: 180px;
  background-color: rgba(131, 179, 211, 0.12)
}

.advantages-detail-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* benefits */

.benefits-text-wrapper {
  padding: 64px 350px;
  margin: 0 auto;
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.benefits-text.small-text {
  margin-bottom: 0;
}

.benefins-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
}

.benefits-item {
  width: 400px;
  text-align: center;
  padding: 80px 85px 81px;
  min-height: 121px;
}

.benefits-item-food {
  background-color: #ffffff;
}

.benefits-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  padding-top: 100px;
  text-transform: uppercase;
}

.benefins-list .benefits-item:first-of-type .benefits-subtitle::before {
  content: "";
  position: absolute;
  background: url("../image/decor-image/benefits-icon-1.svg") no-repeat;
  width: 74px;
  height: 72px;
  top: 2px;
  left: 50%;
  margin-left: -37px;
}

.benefins-list .benefits-item:nth-of-type(2) .benefits-subtitle::before {
  content: "";
  position: absolute;
  background: url("../image/decor-image/benefits-icon-2.svg") no-repeat;
  width: 74px;
  height: 70px;
  top: 2px;
  left: 50%;
  margin-left: -37px;
}

.benefins-list .benefits-item:nth-of-type(3) .benefits-subtitle::before {
  content: "";
  position: absolute;
  background: url("../image/decor-image/benefits-icon-3.svg") no-repeat;
  width: 64px;
  height: 76px;
  top: 0;
  left: 50%;
  margin-left: -37px;
}

.benefits-description {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
}

/* search */

.search {
  padding: 96px 305px;
  margin: 0 auto;
}

.search-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-text.small-text {
  margin-bottom: 54px;
}

/* subscribe */

.subscribe {
  padding: 96px 258px 104px;
  margin: 0 auto;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-index {
  background: #82B3D3 url("../image/decor-image/subscribe-background.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.subscribe-text-white {
  color: #ffffff;
}

.subscribe-input-button-wrapper {
  display: flex;
  width: 684px;
  margin: 0 auto;
  min-height: 52px;
}

.subcsribe-button {
  width: 232px;
}

.subcsribe-input {
  font-family: inherit;
  line-height: 24px;
  font-size: 18px;
  color: #000000;
  width: 452px;
  box-sizing: border-box;
}

/* footer */

.main-footer {
  display: flex;
  min-height: 120px;
  padding-left: 70px;
  padding-right: 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 42px;
  align-self: center;
  padding: 0;
  list-style-type: none;
  width: 144px;
}

.social-item {
  width: 48px;
  height: 40px;
}

.social-link {
  display: block;
  padding: 12px;
  height: 40px;
  box-sizing: border-box;
  color: #83B3D3;
}

.social-list .social-item .social-link:hover .social-link-logo {
  color: #68A2CA;
}

.social-list .social-item .social-link:focus .social-link-logo {
  color: #68A2CA;
}

.social-list .social-item .social-link:active .social-link-logo {
  color: rgba(104, 162, 202, 0.3);
}

.contacts {
  width: 720px;
  align-self: center;
}

.contacts-tel {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  text-align: center;
  width: 332px;
  margin: 0 auto;
}

.contacts-tel:hover {
  color: #756157;
}

.contacts-tel:focus {
  color: #756157;
}

.contacts-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: block;
  margin-left: auto;
  align-self: center;
  color:#000000
}

.htmlacademy-link:hover .htmlacademy-logo {
  color: #756157;
}

.htmlacademy-link:focus .htmlacademy-logo {
  color: #756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  color: rgba(117, 97, 87, 0.3);
}

/* inner */

.main-inner-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

/* filter */

.filter-box {
  background: #82B3D3 url("../image/decor-image/filter-background.jpg") no-repeat 50% 50%;
  background-size: cover;
  color: #ffffff;
  line-height: 23px;
  padding: 35px 70px 70px;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus {
  opacity: 1;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background: url("../image/decor-image/breadcrumbs-arrow-icon.svg") no-repeat 50% 50%;
  width: 6px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: 23px;
}

.breadcrumbs-link {
  display: block;
  text-decoration: none;
  color: inherit;
  min-height: 21px;
  min-width: 12px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  background: url("../image/decor-image/home-icon.svg") no-repeat 50% 50%;
}

.calatog-filter {
  display: flex;
  width: 1060px;
}

.catalog-filter-group {
  margin-left: 0;
  margin-right: 70px;
  padding: 0;
}

.calatog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-price-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-price-slider {
  display: block;
}

/* catalog */

.catalog-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px;
}

.calatog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.catalog-sort-flex-wrapper {
  display: flex;
  width: 522px;
}

.catalog-sort {
  appearance: none;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 30px 12px 18px;
  background: url("../image/decor-image/select-arrow-icon.svg") no-repeat 260px 50%;
}

.catalog-sort:hover {
  border: 2px solid #68A2CA;
  outline: none;
}

.catalog-sort:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.catalog-sort:active {
  border: 2px solid #3F5E72;
}

.view-type-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 160px;
  list-style-type: none;
}

.view-type-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-type-item:last-child {
  margin-right: 0;
}

.view-type-link {
  display: block;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-type-list .view-type-item:first-child .view-type-link{
  background: url("../image/decor-image/view-icon-1.svg") no-repeat 50% 50%;
}

.view-type-list .view-type-item:nth-child(2) .view-type-link{
  background: url("../image/decor-image/view-icon-2.svg") no-repeat 50% 50%;
}

.view-type-list .view-type-item:nth-child(3) .view-type-link{
  background: url("../image/decor-image/view-icon-3.svg") no-repeat 50% 50%;
}

.view-type-link:hover {
  border: 2px solid #000000;
}

.view-type-link:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.view-type-link:focus:not(:focus-visible) {
  outline: none;
}

.view-type-link:focus-visible {
  border: 2px solid #68A2CA;
}

.view-type-link:active {
  border: 2px solid #000000;
}

/* product-card */

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0 70px 40px;
  gap: 20px;
}

.product-card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr auto auto auto;
  width: 297px;
  padding: 20px;
  row-gap: 20px;
  column-gap: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-image-link,
.product-card-image,
.product-card-title-link {
  display: block;
}

.product-card-image {
  max-width: 100%;
  object-fit: cover;
}

.product-card-image-link {
  grid-column: 1/-1;
}

.product-card-title {
  margin: 0;
}

.product-card-title-link {
  grid-column: 1/-1;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.product-card-type,
.product-card-price,
.product-card-rating {
  color: #333333;
}

.product-card-type {
  text-align: left;
}

.product-card-price {
  text-align: right;
}

/* stars */

.product-card-stars-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-card-star {
  width: 18px;
  height: 17px;
  position: relative;
  margin-right: 6px;
}

.product-card-star::after {
  content: "";
  position: absolute;
  background: url("../image/decor-image/star-icon.svg") no-repeat 50% 50%;
  top: 10px;
  width: 18px;
  height: 17px;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding: 8px 18px;
  border-radius: 4px;
}

/* pagination */

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 40px 70px 60px;
  margin: 0;
}

.pagination-item {
  height: 60px;
  width: 60px;
  margin-right: 8px;
  box-sizing: border-box;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link-show-more {
  color: #000000;
  background-color: inherit;
}

.pagination-item .pagination-link:not(.pagination-link-current):hover {
  background-color: #68A2CA;
}


.pagination-item .pagination-link:not(.pagination-link-current):focus {
  background-color: #68A2CA;
}


.pagination-item .pagination-link:not(.pagination-link-current):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}
